// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-blue-dark: #2980b9;
$color-blue-light: #6dd5fa;

$color-primary-green: #66ff99;
$color-secondary-green: #21ba45;
$color-primary-blue: #66ccff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal-small: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$phone-max-width: 37.5em;
$tab-port-max-width: 56.25em;
$tab-land-max-width: 75em;
$big-desktop-min-width: 112.5em;
