.grid-about {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.about-list {
  margin-left: 5rem !important;
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;

  &--item {
    margin-top: 2rem;
  }

  &--item:first-child {
    margin-top: 1.5rem;
  }
}
