.header {
  height: 60vh;
  position: relative;

  &__logo-box {
  }

  &__logo {
    box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.1);
    border-radius: 1px;
    padding: 3rem;
    font-size: $default-font-size;
    position: relative;
    left: 50%;
    transform: skewX(-2deg) translate(-50%);
    width: 75%;
  }

  &__bg-video {
    position: absolute;
    top: -1rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
    overflow: hidden;

    &__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
